body{
    background-image: url(../img/OrangeCoral.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* index */
.cont_usuario{
    background-color: rgba(0,128,255,0.5);
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: auto;
    margin-top: 20%;
    /* display: table-cell;
    vertical-align: middle; */
}
.nom_usuario{
    padding-top: 55px;
     /* display: table-cell;
    vertical-align: middle; */
}
/* pantalla principal */
.juego{
    background-color: rgba(0,128,255,0.5);
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
}
.juego h3{
    text-align: center;
}
.juego p{
    text-align: center;
}
.histo{
    background-color: white;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    margin: auto;
    margin-top: 10%;
}
.controles{
display: flex;
justify-content: center;
}
.controles button{
    background-color: white;
    border: none;
    text-align: center;
    padding:  15px 32px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}

/* Pantalla de juego */
.juego_comenzo{
    background-color: rgba(0,128,255,0.5);
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
}
.pregunta{
    margin-bottom: 30px;
}
.boton_juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
.boton_juego button{
        background-color: white;
        border: none;
        text-align: center;
        padding:  13px 30px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 4px 2px;
        cursor: pointer;
    }

    /* configuracion */
.controles_pregunta{
    background-color: rgba(0,128,255,0.5);
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
}
.categoria{
    padding-top: 10px;
    font-size: 17px;
    margin-left: 55px;
    margin-right: auto;
}
.categoria button{
    background-color: white;
    border: none;
    text-align: center;
    padding:  5px 15px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
}
.conf_preguntas{
    padding-top: 40px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.conf_preguntas button{
    background-color: white;
    border: none;
    text-align: center;
    padding:  10px 15px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}